*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  scrollbar-width: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}

.hidden {
  opacity: 0 !important;
  pointer-events: none !important;
}

.panel-hidden {
  display: none !important;
}

*::before,
*::after {
  content: "";
}

*:focus {
  outline: none;
}

body {
  font-family: "Cinzel", sans-serif;
  background-color: #303030;
  overflow: hidden;
  cursor: url("../img/cursor.cur"), auto;
}

button:hover,
a:hover,
input:hover,
li:hover {
  cursor: url("../img/cursor hover.cur"), auto;
}

button {
  font-family: inherit;
  background: none;
  border: none;
}

ul {
  list-style: none;
}

.header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.header::before {
  position: absolute;
  z-index: 1;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.4rem;
}
.header__logo {
  width: 40rem;
  filter: drop-shadow(0 0 1px #000);
}
.header__logo, .header__menu-container {
  z-index: 2;
}
.header__menu-container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.header__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  filter: blur(0.3px);
}
.header__link {
  text-decoration: none;
  color: inherit;
}
.header__list-element {
  position: relative;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #d7d7d7;
}
.header__list-element.active {
  color: #fff;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.9);
  transform: scale(1.1);
}
.header__list-element:focus {
  outline: none;
}
.header__text {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
  color: #fff;
  opacity: 0.8;
}
.header__video {
  position: absolute;
  z-index: -1;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (width < 1200px) {
  .header__logo {
    margin-bottom: 6.4rem;
  }
}
@media (width < 576px) {
  .header__logo {
    width: 30rem;
  }
}
.section {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 2.4rem;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.section__controls {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  gap: 3.2rem;
  padding: 1.2rem 4.8rem;
  text-transform: uppercase;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.section__control {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.section__control-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  background-color: #fff;
  width: 2.4rem;
  height: 2.4rem;
  color: #000;
  border-radius: 50%;
}
.section__control-btn::before {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border: 2px solid #000;
  border-radius: 50%;
}
.section__control-text {
  font-size: 1.2rem;
  font-weight: 500;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.options__main {
  display: flex;
  gap: 1.6rem;
}
.options__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
}
.options__btn {
  position: relative;
  padding: 1.2rem 0rem;
  width: 17.6rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #d7d7d7;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: brightness(80%);
}
.options__btn::before {
  position: absolute;
  inset: 2px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.options__btn.active {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
  filter: brightness(1);
  animation: pulse 1.5s linear infinite alternate;
}
.options__settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}
.options__settings-window {
  position: relative;
  width: 80vw;
  height: 50rem;
  border: 1px solid #fff;
}
.options__settings-window::before {
  position: absolute;
  z-index: -1;
  inset: 2px;
  border: 1px solid #fff;
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.5);
}
.options__settings-el {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  filter: brightness(40%);
  pointer-events: none;
}
.options__settings-el--first {
  align-items: flex-end;
}
.options__settings-el.active {
  filter: brightness(1);
  pointer-events: all;
}
.options__settings-imgs {
  position: absolute;
  top: -8rem;
  display: flex;
}
.options__settings-imgs::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.options__settings-img {
  width: 17.7vw;
  height: 38rem;
  background-size: cover;
  background-position: center;
}
.options__settings-img--first {
  background-image: url("../img/eternal backgrounds/morning-img.avif");
}
.options__settings-img--second {
  background-image: url("../img/eternal backgrounds/afternoon-img.avif");
}
.options__settings-img--third {
  background-image: url("../img/eternal backgrounds/night-img.avif");
}
.options__settings-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  padding: 3.2rem 0;
}
.options__settings-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
  width: 70vw;
  font-size: 2rem;
}
.options__settings-group {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.options__settings-indicator, .options__settings-range::-webkit-slider-thumb {
  width: 1.2rem;
  height: 1.2rem;
  background-color: #fff;
  box-shadow: inset 0px 0 0 2px rgb(0, 0, 0);
  border: 1px solid #fff;
  transform: rotate(45deg);
}
.options__settings-indicator {
  opacity: 0;
}
.options__settings-indicator.active {
  opacity: 1;
}
.options__settings-range {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 17.7vw;
  height: 8px;
  background-color: #151517;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.options__settings-range::-webkit-slider-thumb {
  -webkit-appearance: none;
}
.options__settings-text {
  width: 35vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.options__settings-text.active {
  background-image: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, #0d0d0d 80%);
}
.options__settings-value {
  width: 4.8rem;
}
.options__settings-value--text {
  text-align: center;
  width: 15.6rem;
}
.options__settings-description {
  font-size: 1.6rem;
}

@keyframes pulse {
  from {
    box-shadow: 0px 0px 0px rgb(255, 255, 255);
  }
  to {
    box-shadow: 0px 0px 3px rgb(255, 255, 255);
  }
}
@media (width < 992px) {
  .section__controls {
    display: none;
  }
  .options__main {
    flex-direction: column;
  }
  .options__nav {
    order: 2;
    flex-direction: row;
  }
  .options__settings {
    order: 1;
    gap: 0;
  }
  .options__settings-window {
    width: 90vw;
  }
  .options__settings-description {
    display: none;
  }
}
@media (width < 768px) {
  .options__settings-img {
    width: 53.1vw;
  }
  .options__settings-img--second, .options__settings-img--third {
    display: none;
  }
}
@media (width < 576px) {
  .options__btn {
    width: 9.2rem;
  }
  .options__settings-item {
    gap: 0;
  }
  .options__settings-item--column {
    flex-direction: column;
    gap: 1.2rem;
  }
  .options__settings-img {
    width: 70vw;
  }
  .options__settings-text {
    text-align: center;
  }
  .options__settings-text.active {
    background-image: none;
  }
  .options__settings-indicator {
    display: none;
  }
}/*# sourceMappingURL=eternalstone.css.map */