*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  scrollbar-width: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

body,
button,
a,
input {
  cursor: none !important;
}

.laser-cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
}

.section-padding {
  padding: 1.2rem 2.4rem;
}

.inversionOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  -webkit-backdrop-filter: invert(1);
          backdrop-filter: invert(1);
  z-index: 9998;
  opacity: 0;
  transition: opacity 0.1s, -webkit-clip-path 0.1s;
  transition: opacity 0.1s, clip-path 0.1s;
  transition: opacity 0.1s, clip-path 0.1s, -webkit-clip-path 0.1s;
  -webkit-clip-path: circle(0px at 0 0);
          clip-path: circle(0px at 0 0);
}

.invert-color {
  transition: filter 0.3s ease;
}

.invert-color.white {
  filter: invert(1) !important;
}

.nav {
  position: fixed;
  top: 0;
  z-index: 2000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: opacity 0.3s ease;
}
.nav__logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.2rem;
  height: 17.2rem;
}
.nav__logo-text, .nav__logo-img {
  position: absolute;
  z-index: 9999;
}
.nav__logo-text {
  margin-bottom: 0.8rem;
  width: 17.2rem;
  animation: rotate 12s linear infinite;
}
.nav__logo-img {
  z-index: 1000;
  width: 12.4rem;
}
.nav__clock {
  display: flex;
  align-self: flex-start;
  gap: 3.2rem;
  padding: 4.8rem 0;
}
.nav__clock-container {
  position: relative;
}
.nav__clock-hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 0.15rem;
  transform-origin: bottom center;
  background-color: #000;
}
.nav__clock-hand--hour {
  height: 20px;
}
.nav__clock-hand--minute {
  height: 2.6rem;
}
.nav__clock-hand--second {
  height: 3rem;
  background-color: #ff0000;
}
.nav__clock-time-text {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.6rem;
}
.nav__clock-time-paragraph {
  font-weight: bold;
}
.nav__clock-time-digital {
  width: 6.4rem;
}
.nav__clock-square {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #000;
  border-radius: 0.3rem;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  pointer-events: none;
}
.header__img {
  position: absolute;
  top: 2.4rem;
  width: 52.8rem;
  filter: drop-shadow(0 0 1px #000);
  mask-image: linear-gradient(to bottom, black 70%, rgba(0, 0, 0, 0.8) 75%, rgba(0, 0, 0, 0.4) 85%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 70%, rgba(0, 0, 0, 0.8) 75%, rgba(0, 0, 0, 0.4) 85%, transparent 100%);
}
.header__heading {
  font-family: "Anton", sans-serif;
  font-size: 24.8rem;
  font-weight: bold;
}
.header__music-box {
  position: fixed;
  bottom: 0;
  z-index: 2000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 2.4rem;
  pointer-events: all;
  transition: opacity 0.3s ease;
}
.header__music-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.4rem;
  height: 18.6rem;
}
.header__character-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.header__music-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.header__music-icon {
  position: absolute;
  top: 6.5rem;
  left: 2.75rem;
  z-index: 1000;
  width: 8rem;
  height: 8rem;
  color: #fff;
  filter: drop-shadow(0 0 2px #000);
}
.header__music-playlist {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  align-self: flex-end;
  gap: 3.2rem;
  margin-bottom: 2.4rem;
}
.header__music-arrow {
  width: 8rem;
}
.header__scroll-container {
  width: 20rem;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
}
.header__scroll-text {
  display: inline-block;
  white-space: nowrap;
  font-size: 1.6rem;
  font-weight: bold;
}
.header__music-waves {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8rem;
  pointer-events: none;
  z-index: 5000;
}
.header__socials {
  display: flex;
}
.header__social-link {
  color: #000;
  font-size: 3.6rem;
  text-decoration: none;
  padding: 2.4rem;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10%);
  }
}
@media (width < 1200px) {
  html {
    font-size: 58%;
  }
  .header__heading {
    font-size: 22rem;
    padding: 24rem;
  }
  .header__music-box {
    align-items: flex-end;
  }
  .header__socials {
    flex-direction: column;
    margin-bottom: 1px;
  }
}
@media (width < 992px) {
  html {
    font-size: 43%;
  }
  .header__heading {
    padding: 0;
  }
  .header__img {
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (width < 576px) {
  html {
    font-size: 38%;
  }
  .header__music-box {
    padding: 0;
  }
  .header__music-playlist {
    left: 53%;
  }
  .header__scroll-container {
    width: 8rem;
  }
  .header__img {
    mask-image: linear-gradient(to bottom, black 70%, rgba(0, 0, 0, 0.8) 75%, rgba(0, 0, 0, 0.4) 85%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 45%, rgba(0, 0, 0, 0.1) 65%, rgba(0, 0, 0, 0.6) 90%, transparent 100%);
  }
  .header__heading {
    font-size: 18rem;
  }
}
.works {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-color: #000;
  transition: background 0.8s ease;
}
.works__bg-layer {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  transition: opacity 0.3s ease;
  pointer-events: none;
}
.works__bg-layer--current {
  opacity: 1;
}
.works__bg-layer--next {
  opacity: 0;
}
.works__video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  pointer-events: none;
}
.works__video--second, .works__video--third {
  filter: brightness(0.5);
}
.works__slider {
  position: relative;
  width: min(80rem, 90%);
  height: 66%;
}
.works__list {
  position: relative;
  width: 100%;
  height: 100%;
  list-style: none;
  perspective: 900px;
  transform-style: preserve-3d;
}
.works__list-element {
  position: absolute;
  top: calc(50% - 1.2rem);
  left: 50%;
  width: 70%;
  height: 24rem;
  background-size: cover;
  color: white;
  transition: transform 500ms ease, background-color 500ms ease;
  transform: rotateX(var(--rotateX)) translateZ(190px) translateX(-50%) scale(var(--scale, 1));
  --rotateX: calc(1deg * var(--rotateAngle) * calc(var(--slideIndex) - var(--currentSlide)));
  --hue: calc(var(--rotateAngle) * var(--slideIndex));
}
.works__list-element::before {
  content: "";
  position: absolute;
  z-index: 0;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
  pointer-events: none;
}
.works__list-element--first::before {
  background: none;
}
.works__list-element--second {
  background-position: center;
}
.works__list-element.active {
  --lightness: 30%;
  --scale: 1.1;
}
.works__list-link {
  position: relative;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.works__list-header {
  z-index: 1000;
  font-size: 4.4rem;
}
.works__list-text {
  min-height: 2.4rem;
  z-index: 1000;
  font-size: 2rem;
}

@media (width < 992px) {
  .works__slider {
    height: 75%;
  }
}
@media (width < 576px) {
  .works__slider {
    height: 80%;
  }
}/*# sourceMappingURL=style.css.map */