@use '_base.scss';
@use './mixins' as *;
@use './colors' as *;

*:focus {
	outline: none;
}

body {
	font-family: 'Cinzel', sans-serif;
	background-color: #303030;
	overflow: hidden;
	cursor: url('../img/cursor.cur'), auto;
}

button:hover,
a:hover,
input:hover,
li:hover {
	cursor: url('../img/cursor\ hover.cur'), auto;
	// cursor:pointer;
}

button {
	font-family: inherit;
	background: none;
	border: none;
}

ul {
	list-style: none;
}

// -------------------------------------------------------
// HEADER

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		z-index: 1;
		inset: 0;
		background-color: rgba(0, 0, 0, 0.5);
	}

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 11rem;
		// margin-top: -2.4rem;
	}

	&__logo {
		width: 40rem; //40rem - 48rem
		filter: drop-shadow(0 0 1px #000);
	}

	&__logo,
	&__menu-container {
		z-index: 2;
	}

	&__menu-container {
		display: flex;
		flex-direction: column;
		gap: 4.8rem;
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.2rem;
		filter: blur(0.3px);
	}

	&__link {
		text-decoration: none;
		color: inherit;
	}

	&__list-element {
		position: relative;
		text-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
		font-size: 2.4rem;
		font-weight: 500;
		text-transform: capitalize;
		color: #d7d7d7;

		&.active {
			color: #fff;
			text-shadow: 0 0 2px rgba(255, 255, 255, 0.9);
			transform: scale(1.1);
		}

		&:focus {
			outline: none;
		}
	}

	&__text {
		text-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
		color: #fff;
		opacity: 0.8;
	}

	&__video {
		position: absolute;
		z-index: -1;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@media (width<1400px) {
	.header {
		&__logo {
			width: 38rem;
		}
	}
}

@media (width<576px) {
	.header {
		&__logo {
			width: 30rem;
		}
	}
}

.section {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	padding: 2.4rem;
	width: 100%;
	height: 100%;
	background-color: #000;
	color: #fff;
	opacity: 1;
	transition: opacity 0.5s ease-in-out;

	&__controls {
		position: fixed;
		bottom: 0;
		display: flex;
		justify-content: flex-end;
		gap: 3.2rem;
		padding: 1.2rem 4.8rem;
		text-transform: uppercase;
		width: 100%;
		border-top: 1px solid $eternal-border;
	}

	&__control {
		display: flex;
		align-items: center;
		gap: 1.2rem;

		&-btn {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: bold;
			font-size: 1rem;
			background-color: #fff;
			width: 2.4rem;
			height: 2.4rem;
			color: #000;
			border-radius: 50%;

			&::before {
				content: '';
				position: absolute;
				width: 2rem;
				height: 2rem;
				border: 2px solid #000;
				border-radius: 50%;
			}
		}

		&-text {
			font-size: 1.2rem;
			font-weight: 500;
		}
	}
}

// -------------------------------------------------------
// GAMEPLAY

// .gameplay {
// 	position: relative;
// }

// -------------------------------------------------------
// LORE

.lore {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 8rem;

	&__container {
		// height: 49rem;
	}

	&__nav {
		display: flex;
		gap: 1.2rem;

		&-btn {
			@include eternal-btn;
		}
	}

	&__world {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 3.2rem;
		width: 100%;

		&-item {
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 1.2rem;
		}

		&-title {
			width: 20rem;
			font-size: 1.6rem;
			font-weight: bold;
			text-align: center;
			text-transform: capitalize;
			border-bottom: 1px solid $eternal-border;
		}

		&-img {
			width: 19rem;
			filter: saturate(0);
			transition: transform 0.3s, filter 0.3s;

			&.active {
				filter: saturate(1);
				transform: scale(1.05);
			}
		}

		&-description {
			display: flex;
			align-items: center;
			padding: 0.8rem 0;
			height: 9.8rem;
			font-size: 1.2rem;
			font-weight: 500;
			text-align: center;
			line-height: 2rem;
			border-top: 1px solid $eternal-border;
			border-bottom: 1px solid $eternal-border;
		}
	}

	&__world,
	&__character {
		filter: brightness(40%);
		transition: filter 0.3s;
	}
	&__world.active,
	&__character.active {
		filter: brightness(1);
	}

	&__character {
		display: flex;
		align-items: center;
		gap: 4.8rem;

		&-arrow {
			font-size: 9.8rem;
		}

		&-box {
			position: relative;
			display: flex;
			justify-content: center;
		}

		&-window {
			@include eternal-window(20vw, 20vw);
			position: absolute;
			bottom: 0;
			z-index: 2000;
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 1.2rem;
			padding: 3.2rem;
			background-color: rgba(0,0,0,.6);
		}

		&-title {
			width: 50%;
			text-align: center;
			border-bottom: 1px solid $eternal-border;
		}

		&-description {
		}
	}
}

@media (width<1200px) {
	.lore {
		&__container {
			overflow-y: auto;
		}

		&__world {
			grid-template-columns: repeat(3, 1fr);
			&-item {
				&:nth-child(4),
				&:nth-child(5) {
					transform: translateX(50%);
				}
			}
		}
	}
}

@media (width<768px) {
	.lore {
		&__nav {
			&-btn {
				width: 14rem;
			}
		}
		&__world {
			grid-template-columns: 1fr;

			&-item {
				&:nth-child(4),
				&:nth-child(5) {
					transform: translateX(0);
				}
			}

			&-description {
				width: 50%;
			}
		}
	}
}

@media (width<576px) {
	.lore {
		&__world {
			&-description {
				width: 100%;
			}
		}
	}
}

// -------------------------------------------------------
// OPTIONS

.options {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__main {
		display: flex;
		gap: 1.6rem;
	}

	&__nav {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0.8rem;
	}

	&__btn {
		@include eternal-btn;
	}

	&__settings {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3.2rem;

		&-window {
			@include eternal-window;
		}

		&-el {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			filter: brightness(40%);
			pointer-events: none;

			&--first {
				align-items: flex-end;
			}

			&.active {
				filter: brightness(1);
				pointer-events: all;
			}
		}

		&-imgs {
			position: absolute;
			top: -8rem;
			display: flex;

			&::before {
				content: '';
				position: absolute;
				inset: 0;
				background-color: rgba(0, 0, 0, 0.5);
				pointer-events: none;
			}
		}

		&-img {
			width: 17.7vw;
			height: 38rem;
			background-size: cover;
			background-position: center;

			&--first {
				background-image: url('../img/eternal\ backgrounds/morning-img.avif');
			}

			&--second {
				background-image: url('../img/eternal\ backgrounds/afternoon-img.avif');
			}

			&--third {
				background-image: url('../img/eternal\ backgrounds/night-img.avif');
			}
		}

		&-list {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1.6rem;
			padding: 3.2rem 0;
		}

		&-item {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 4.8rem;
			width: 70vw;
			font-size: 2rem;
		}

		&-group {
			display: flex;
			align-items: center;
			gap: 1.2rem;
		}

		&-indicator,
		&-range::-webkit-slider-thumb {
			width: 1.2rem;
			height: 1.2rem;
			background-color: #fff;
			box-shadow: inset 0px 0 0 2px rgba(0, 0, 0, 1);
			border: 1px solid #fff;
			transform: rotate(45deg);
		}

		&-indicator {
			opacity: 0;

			&.active {
				opacity: 1;
			}
		}

		&-range {
			-webkit-appearance: none;
			appearance: none;
			width: 17.7vw;
			height: 8px;
			background-color: #151517;
			border: 1px solid rgba(255, 255, 255, 0.3);

			&::-webkit-slider-thumb {
				-webkit-appearance: none;
			}
		}

		&-text {
			width: 35vw;
			border-bottom: 1px solid rgba(255, 255, 255, 0.5);

			&.active {
				background-image: $eternal-active-gradient;
			}
		}

		&-value {
			width: 4.8rem;

			&--text {
				text-align: center;
				width: 15.6rem;
			}
		}

		&-description {
			font-size: 1.6rem;
		}
	}
}

@keyframes pulse {
	from {
		box-shadow: 0px 0px 0px rgba(255, 255, 255, 1);
	}
	to {
		box-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
	}
}

@media (width<1200px) {
	.section {
		&__controls--lore {
			display: none;
		}
	}
}

@media (width<992px) {
	.section {
		&__controls {
			display: none;
		}
	}

	.options {
		&__main {
			flex-direction: column;
		}

		&__nav {
			order: 2;
			flex-direction: row;
		}

		&__settings {
			order: 1;
			gap: 0;

			&-window {
				width: 90vw;
			}

			&-description {
				display: none;
			}
		}
	}
}

@media (width<768px) {
	.options {
		&__settings {
			&-img {
				width: 53.1vw;

				&--second,
				&--third {
					display: none;
				}
			}
		}
	}
}

@media (width<576px) {
	.options {
		&__btn {
			width: 9.2rem;
		}

		&__settings {
			&-item {
				gap: 0;
			}

			&-item--column {
				flex-direction: column;
				gap: 1.2rem;
			}

			&-img {
				width: 70vw;
			}

			&-text {
				text-align: center;

				&.active {
					background-image: none;
				}
			}

			&-indicator {
				display: none;
			}
		}
	}
}

.locations {
	z-index: 1001;
	display: flex;
	justify-content: center;
	align-items: center;

	&__window {
		display: flex;
		justify-content: space-between;
		padding: 3.2rem 4.8rem;
		@include eternal-window;
	}

	&__main {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.2rem;
	}

	&__imgs {
		display: flex;
		justify-content: center;
		align-items: center;
		@include eternal-window(100%, 80%);
	}

	&__img {
		width: 99%;
		height: 98%;
		background-image: url('../img/Floppa.jpg');
		background-size: cover;
		background-position: center;
	}

	&__description {
		// position: absolute;
		background-color: #fff;
		color: #000;
		width: 80%;
	}

	&__nav {
		display: flex;
		flex-direction: column;
		gap: 3.2rem;
		text-align: right;
	}

	&__header {
		font-weight: 700;
		font-size: 3.6rem;
		border-bottom: 1px solid $eternal-border;
	}

	&__subheader {
	}

	&__list {
		&-item {
			border-bottom: 1px solid $eternal-border;
			&.active {
				background-image: $eternal-active-gradient;
			}
		}
	}
}
