@use '_base.scss';
@use '_colors.scss' as *;

body {
	font-family: 'Roboto', sans-serif;
	background-color: #303030;
	cursor: url('../img/cursor.cur'), auto;
}

button:hover,
a:hover,
input:hover,
li:hover {
	cursor: url('../img/cursor\ hover.cur'), auto;
	// cursor:pointer;
}

// .hidden {
// 	display: none !important;
// }

// -------------------------------------------------------
// HEADER

.header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 12rem;
	height: 100vh;
	overflow: hidden;

	&__overlay {
		position: absolute;
		inset: 0;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 1;
	}

	&__container {
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4.8rem;
	}

	&__logo {
		margin-bottom: 12rem;
		width: 40rem;
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.2rem;
		list-style: none;

		filter: blur(0.5px);
		transition: filter 0.25s, opacity 0.25s;
	}

	&__link {
		text-decoration: none;
	}

	&__element {
		position: relative;
	}

	&__list-element,
	&__link {
		font-size: 2.4rem;
		font-weight: 400;
		text-transform: capitalize;
		color: $eternal-menu-link;
	}

	&__list-element.active,
	&__list-element.active > &__link {
		color: #fff;
		text-shadow: 0 0 2px rgba(255, 255, 255, 0.9);
		transform: scale(1.05);
	}

	&__list-element:focus {
		outline: none;
	}

	&__text {
		color: #fff;
	}

	&__video {
		position: absolute;
		z-index: -1;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.section {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-color: #000;
}
