// Eternal Stone

$eternal-border: rgba(255, 255, 255, 0.4);
$eternal-active-gradient: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, #0d0d0d 80%);

//Anicole
$ani-nav-color: rgba(0, 0, 0, 0.9);
$clr-primary: #007bff;
$clr-primary-h: #0056b3;
$clr-secondary: #6c757d;
$clr-secondary-h: #5a6268;
$clr-danger: #dc3545;
$clr-danger-h: #c82333;

$clr-bg-dark: #1a1a1a;
$clr-bg-medium: #2a2a2a;
$clr-border: #444;
$clr-text-main: #e0e0e0;
